/**general Variables**/
/**general css**/
body {
  background: #fbfbfb;
  overflow-x: hidden; }

* {
  font-family: "Rubik", sans-serif; }

.mt-7 {
  margin-top: 6rem; }

.mt-6 {
  margin-top: 4rem; }

.mb-6 {
  margin-bottom: 4rem; }

.black {
  height: 200px;
  background: black; }

.form-control {
  border: none; }

.input-group-text {
  border: none; }

.form-control::-webkit-input-placeholder {
  color: #b3b3b3; }

/* WebKit, Blink, Edge */
.form-control:-moz-placeholder {
  color: #b3b3b3; }

/* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder {
  color: #b3b3b3; }

/* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder {
  color: #b3b3b3; }

/* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder {
  color: #b3b3b3; }

/* Microsoft Edge */
/**  scrollbar */
::-webkit-scrollbar {
  width: 10px; }

/* Track */
::-webkit-scrollbar-track {
  background: #fbfbfb; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d8d8d8;
  border-radius: 10px; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a5a5a5; }

/**headr**/
.headerBackground {
  height: 380px;
  background: url("./assets/pattern.jpg") repeat;
  border-radius: 50% / 0% 0% 12% 12%;
  /* box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.02); */ }

.pageTitle {
  font-weight: bold;
  font-size: 36px;
  text-transform: uppercase;
  color: #ff5353;
  margin-bottom: 3px; }

.pageSubTitle {
  font-weight: 400;
  font-size: 24px;
  color: #d8a7a7; }

/**searching**/
.searchingInput {
  padding-left: 30px;
  height: 60px;
  background: #ffffff;
  box-shadow: -3px 3px 6px rgba(0, 0, 0, 0.14);
  border-radius: 25px; }

.searchingButton {
  width: 115px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.14);
  background: #fafafa;
  border-radius: 0px 25px 25px 0px;
  color: rgba(226, 3, 6, 0.5);
  font-size: 26px; }

.searchingIcon {
  margin: auto; }

.error {
  color: #d8a7a7; }

/**suggestions List**/
.suggestionsList {
  background: #ffffff;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.14);
  border-radius: 25px;
  margin-top: 8px;
  padding: 30px;
  z-index: 99999;
  position: relative; }

.suggestionsList ul {
  list-style: none;
  padding: 0;
  margin: 0; }

.suggestionsList span {
  display: block;
  margin-bottom: 15px; }

.suggestionsList span:hover {
  background: #f0efef;
  text-decoration: none; }

.suggestionsList span:last-child {
  margin-bottom: 0px; }

.suggestionsList li {
  text-align: left;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.45); }

/**no Searching yet**/
.noSearchingYet p {
  color: #ababab; }

/**videoSleider**/
.sliderWrapper {
  width: 100%;
  height: 350px; }

.sliderWrapperFixed {
  height: 100px;
  transition: height 0.5s; }

.sliderContener {
  position: relative;
  height: 350px;
  width: 100%; }

.arrowRight {
  position: absolute;
  z-index: 99999;
  right: 0;
  top: 35%;
  font-size: 30px;
  opacity: 0.5; }

.arrowRight:hover {
  opacity: 1; }

.arrowLeft {
  position: absolute;
  z-index: 99999;
  left: 0;
  top: 35%;
  font-size: 30px;
  opacity: 0.5; }

.arrowLeft:hover {
  opacity: 1; }

.iframeVideo {
  background: #2f2f2f;
  width: 100%;
  height: 100%; }

.meinSlide {
  height: 350px;
  margin: auto;
  width: 500px;
  z-index: 8888;
  position: absolute;
  left: 24%;
  border-radius: 10px;
  box-shadow: -3px 3px 6px rgba(0, 0, 0, 0.14); }
  .meinSlide img {
    width: 500px;
    height: 326px; }

.meinSlideFixed {
  height: 350px;
  margin: auto;
  width: 500px;
  z-index: 999999;
  position: fixed;
  right: 20px;
  bottom: 0px;
  transition: 0.5s;
  box-shadow: -3px 3px 6px rgba(0, 0, 0, 0.14);
  border-radius: 10px; }
  .meinSlideFixed img {
    width: 500px;
    height: 326px; }

.leftSlide {
  padding-top: 12px;
  margin: auto;
  z-index: 7777;
  position: absolute; }
  .leftSlide img {
    width: 480px;
    height: 304px;
    opacity: 0.6;
    border-radius: 10px; }

.rightSlide {
  padding-top: 12px;
  margin: auto;
  z-index: 6666;
  position: absolute;
  right: 0; }
  .rightSlide img {
    width: 480px;
    height: 304px;
    opacity: 0.6;
    border-radius: 10px; }

/**end the new videoSleider**/
.slider {
  position: relative;
  height: 300px;
  overflow: hidden; }

.slider-wrapper {
  position: relative;
  height: 100%;
  width: 100%; }
  .slider-wrapper .slide {
    flex: 1;
    transition: opacity 300ms linear, border-color 300ms linear, background-color 300ms linear, transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955); }

.col {
  height: 300px;
  position: relative; }
  .col:before, .col:after {
    content: '';
    display: block;
    width: 50%;
    height: 120%;
    background: linear-gradient(to right, #fbfbfb 15%, rgba(255, 255, 255, 0) 100%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2; }
  .col:after {
    left: auto;
    right: 0;
    background: linear-gradient(to left, #fbfbfb 15%, rgba(255, 255, 255, 0) 100%); }

.arrow {
  display: flex;
  font-size: 40px;
  cursor: pointer;
  transition: transform ease-in 0.1s; }

.nextArrow {
  position: absolute;
  top: 50%;
  right: 25px;
  z-index: 999;
  color: #2f2f2f36; }

.nextArrow:hover {
  color: #2f2f2f; }

.backArrow {
  position: absolute;
  top: 50%;
  left: 25px;
  z-index: 999;
  color: #2f2f2f36; }

.backArrow:hover {
  color: #2f2f2f; }

/*********slider 2***********/
.carousel {
  width: 100vw;
  height: 100vh;
  background: blue;
  position: relative;
  overflow: hidden; }

.carousel .track {
  position: absolute;
  top: 150px;
  left: 20px;
  display: inline-flex;
  touch-action: none; }

.carousel .track .card {
  width: 300px;
  height: 300px;
  background: #fff;
  border-radius: 3px;
  margin-right: 20px; }

/**blogText**/
.blogText h1 {
  font-size: 64px;
  font-weight: bold;
  color: #000000; }

.h1After {
  width: 99px;
  height: 5px;
  background: #ffbebe; }

.blogText h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 43px;
  color: rgba(0, 0, 0, 0.6); }

.blogTextP {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  text-align: justify;
  color: #000000e8; }

.quotation {
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  text-align: justify;
  color: #787878; }

.endOfTheArticale {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.45); }
